.view-layout {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.left-pane {
    max-width: 600px;
}

.right-pane {
    min-width: 300px;
    /*width: 350px;*/
    border: 1px solid black;
    padding: 20px;
    margin: 0 20px;
}

.title-border {
    border-bottom: 10px solid black;
}
.title-border-thin {
    border-bottom: 3px solid black;
}
.card-text-14 {
    font-size: 14px;
}
.text-details {
    font-size: 10px;
}

ul li {
    list-style: none;
    margin-left: -20px;
}

.position-absolute__single-recipe {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(255,255,255,0.5);
}

@media screen and (min-width: 665px) and (max-width: 992px) {
    .left-pane img {
        width: calc(100vw - 390px);
        margin: 0 auto;
    }
}

@media screen and (max-width: 665px) {
    .view-layout {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .right-pane {
        width: 90vw;
        border: 1px solid black;
        padding: 20px;
        margin: 0 20px;
    }

    .recipe-info {
        width: 90vw;
    }

    .left-pane img {
        width: 90vw;
        margin: 0 auto;
    }
}
